<div class="container">
    <div class="artist-list">
        <input type="text" placeholder="Search artists" ng-model="search">
    </div>
    <ul class="artist-list">
        <li class="artist-search-block" ng-repeat="artist in artists | filter:search">
            <a href="#/artists/{{artist.id}}">
                <img class="artist-avatar" src="{{artist.avatarImg}}">
            </a>
            <div class="artist-profile-resume">
                <a href="#/artists/{{artist.id}}">{{artist.name}}</a>
                <ul>
                    <li>Studio: {{artist.studio}}</li>
                    <li>Address: {{artist.address}}</li>
                </ul>
            </div>
            <span class="float-right rating">Rating: {{artist.rating}}/10</span>
        </li>
    </ul>
</div>
